@import url("/src/styles/elements/btn-theme.css");
@import url("/src/styles/elements/btn-audio.css");

#site-header {
  width: calc(100% - 7px);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  box-shadow: -2px 2px 5px 0 var(--c-background);

}

#site-header * {
  list-style-type: none;
}

.title-bar {

  position: relative;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.05rem 0;
  background: linear-gradient(
    to right,
    var(--c-purple),
    var(--c-purple),
    var(--c-background)
  );
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.4);

  &:is(#light &)::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 70%;
    background: linear-gradient(
      to bottom,
      hsla(0, 0%, 100%, 0.3),
      hsla(0, 0%, 100%, 0)
    );
    pointer-events: none;
    z-index: 2;
  }
}

.title-bar a {
  display: flex;
  align-items: center;
  width: 100%;
  color: hsl(220, 29%, 90%);
  font-size: clamp(1.4rem, 2vw + 0.8rem, 2.35rem);
  text-transform: uppercase;
}

.title-bar img {
  margin: 0.2rem 0.7rem 0.3rem 0.5rem;
  width: 34.5px;
  height: 34.5px;
  filter: brightness(0.9) saturate(1) drop-shadow(0 0 5px rgba(0, 0, 0, 1));
}

.site-title {
  transform: translateY(2px);
  letter-spacing: 0.05em;
}

#header-menu {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

#btn-audio {
  display: none;
}

#btn-burger {
  display: flex;
  align-items: center;
  justify-content: center;
  color: light-dark(hsl(218, 8%, 20%), rgba(255, 255, 255, 0.7));
  margin: 0.5rem;
}
#btn-burger svg {
  width: 34px;
  height: 34px;
}

#site-header nav.closed {
  display: none;
}

body:has(#site-header nav:not(nav.closed)) {
  overflow: hidden;
}

#site-header nav {
  position: fixed;
  min-width: 100%;
  padding: 0.2rem;
  background-color: light-dark(
    hsla(from var(--c-background) h s l / 0.4),
    hsla(0, 0%, 0%, 0.5)
  );
  overflow: scroll;
  top: 51.6px;
  max-height: calc(100% - 51.6px);
  font-family: "Palatino";
}

.nav-bar-ul {
  padding: 1rem 1rem 0;
  border-radius: 10px;
  border: var(--border-light);
  backdrop-filter: blur(10px);
  font-size: 1.2rem;
  box-shadow: 0px 0px 5px 0 rgba(0, 0, 0, 0.5);
}

.drop-down-title {
  border-bottom: var(--border-light);
  margin-block: 0 1rem;
}

.drop-down-title::marker {
  content: ""; /* remove diamond */
}

.drop-down-title span {
  font-weight: bold;
  font-size: 1.3rem;
  letter-spacing: 0.2px;
}

.drop-down-menu {
  padding: 0.5rem 0;
}

.drop-down-menu li::marker {
  content: ""; /* remove diamond */
}

.drop-down-menu a {
  display: inline-block;
  width: 100%;
  padding: 0.5rem 0.5rem 0.2rem 0.5rem;
  margin-bottom: 0.7rem;
  border-radius: 5px;
  color: white;
  background-color: hsla(from var(--c-purple) h s l / 0.8);
  letter-spacing: 0.2px;
}

.drop-down-menu a::before,
.drop-down-title span::before {
  content: "";
  height: 1.2rem;
  width: 1.2rem;
  display: inline-block;
  background-color: currentColor;
  mask-repeat: no-repeat;
  mask-size: contain;
  vertical-align: middle;
  margin-right: 0.5rem;
  transform: translateY(-2.5px);
}

#icon-personal::before {
  mask-image: url("/assets/media/img/svg/icon/icon-user-round.svg");
}
#icon-literary::before {
  mask-image: url("/assets/media/img/svg/icon/icon-library.svg");
}
#icon-interests::before {
  mask-image: url("/assets/media/img/svg/icon/icon-pencil-sparkles.svg");
}
#icon-beyond::before {
  mask-image: url("/assets/media/img/svg/icon/icon-moon.svg");
}

.drop-down-menu {
  a[href="/personal/about"]::before {
    mask-image: url("/assets/media/img/svg/icon/icon-fingerprint.svg");
  }
  a[href="/personal/warbler"]::before {
    mask-image: url("/assets/media/img/svg/icon/icon-bird.svg");
  }
  a[href="/personal/faq"]::before {
    mask-image: url("/assets/media/img/svg/icon/icon-scroll-text.svg");
  }

  a[href="/literary/fiction"]::before {
    mask-image: url("/assets/media/img/svg/icon/icon-book-closed.svg");
  }
  a[href="/literary/library"]::before {
    mask-image: url("/assets/media/img/svg/icon/icon-book-open.svg");
  }
  a[href="/literary/theory"]::before {
    mask-image: url("/assets/media/img/svg/icon/icon-search.svg");
  }

  a[href="/interests/essays"]::before {
    mask-image: url("/assets/media/img/svg/icon/icon-notebook-pen.svg");
  }
  a[href="/interests/projects"]::before {
    mask-image: url("/assets/media/img/svg/icon/icon-compass.svg");
  }
  a[href="/interests/art"]::before {
    mask-image: url("/assets/media/img/svg/icon/icon-palette.svg");
  }

  a[href="/beyond/contact"]::before {
    mask-image: url("/assets/media/img/svg/icon/icon-send.svg");
  }
  a[href="/beyond/patronage"]::before {
    mask-image: url("/assets/media/img/svg/icon/icon-sparkles.svg");
  }
  a[href="/beyond/secret"]::before {
    mask-image: url("/assets/media/img/svg/icon/icon-lock.svg");
  }
}

@media (min-width: 700px) {
  #site-header {
    background-color: var(--c-background);
    height: 80px;
    width: calc(100% - 6px);
  }

  .title-bar {
    background: linear-gradient(
      to right,
      var(--c-background),
      var(--c-purple) 1%,
      var(--c-purple),
      var(--c-background)
    );

    border-radius: 0 0 10px 10px;

    &:has(a:hover),
    &:has(a:focus-visible) {
      background: linear-gradient(
        to right,
        var(--c-background),
        hsl(from var(--c-purple) h s calc(l + 5)) 1%,
        hsl(from var(--c-purple) h s calc(l + 5)),
        hsl(from var(--c-purple) h s calc(l + 5)),
        var(--c-background)
      );

      & a {
        color: white;
      }
    }
    &:has(a:hover)::after,
    &:has(a:focus-visible)::after {
      content: "";
      position: absolute;
      left: 5px;
      top: 49.5px;
      width: 95vw;
      height: 27px;
      z-index: 2;
      pointer-events: none;
      background: radial-gradient(
        ellipse 100% 80% at 20% 0,
        light-dark(
            hsl(from var(--c-purple) h s calc(l + 5) / 0.6),
            hsl(from var(--c-purple) h s calc(l + 5) / 0.6)
          )
          0%,
        transparent 80%
      );
      border-radius: 10px 0 0 0;
    }

    &:is(#light &):has(a:hover),
    &:is(#light &):has(a:focus-within) {
      background: linear-gradient(
        to right,
        var(--c-background),
        hsl(from var(--c-purple) h s calc(l + 10)) 1%,
        hsl(from var(--c-purple) h s calc(l + 10)),
        hsl(from var(--c-purple) h s calc(l + 10)),
        var(--c-background)
      );
    }
  }

  .title-bar img {
    margin: 0.4rem 0.7rem 0.4rem 1.5rem;
    width: 30px;
    height: 30px;
  }

  .title-bar a {
    border-radius: 10px;
    margin: 0.08rem 0.25rem 0 0.14rem;
  }

  .site-title {
    transform: translateY(4px);
    letter-spacing: 0.05em;
  }

  #header-menu {
    margin-right: 0.5rem;
    gap: 0.5rem;
  }

  #btn-audio {
    display: block;
  }
  #btn-burger {
    display: none;
  }
  #site-header nav.closed {
    display: block;
  }

  #site-header nav {
    position: static;
    padding: 0;
    border: none;
    background: none;
    overflow: visible;
  }

  .nav-bar-ul {
    position: relative;
    display: flex;
    justify-content: space-between;
    background: none;
    backdrop-filter: none;
    padding: 0;
    border: none;
    border-radius: 10px;
    margin: 4.5px 0px 5px 5px;
    background: linear-gradient(
      to right,
      light-dark(hsla(from var(--c-g-45) h s 72%), var(--c-g-25)),
      light-dark(var(--c-g-45), var(--c-g-20))
    );

    &:is(#light &) {
      box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.5);
    }

    &:is(#light &)::before {
      content: "";
      position: absolute;
      border-radius: 9.5px 9.5px 0 0;
      top: 0.5px;
      left: 0.5px;
      right: 0.5px;
      height: 50%;
      background: linear-gradient(
        to bottom,
        hsla(0, 0%, 100%, 0.5),
        hsla(0, 0%, 100%, 0)
      );
      pointer-events: none;
      z-index: 2;
    }
  }

  .drop-down-title {
    display: flex;
    position: relative;
    width: 100%;
    margin: 0;
    border: none;
    font-weight: thin;
    border-right: 5px solid transparent;
    cursor: default;

    &:hover,
    &:focus-visible {
      color: white;
      border-radius: 10px 15px 15px 10px;
      border-right: 5px solid white;
      background: linear-gradient(
        to right,
        hsl(from var(--c-purple) h s calc(l + 5)),
        light-dark(transparent, black)
      );
    }

    &:is(#light &):hover,
    &:is(#light &):focus-within {
      background-clip: padding-box;
      border-right: 5px solid rgba(255, 255, 255, 0);
      border-radius: 10px 15px 15px 10px;
    }

    &:after {
      content: "";
      position: absolute;
      top: 100%;
      left: 0;
      height: 7px;
      width: 100%;
    }
  }

  .drop-down-title span {
    font-weight: 100;
    font-size: 1.4rem;
    line-height: 1.2;
    padding: 2px 2px 2px 12px;
    transform: translateY(2px);
  }

  .drop-down-menu {
    display: none;
    margin-top: 5px;
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    padding: 10px;
    border-radius: 10px;
    background: radial-gradient(
      ellipse 280% 80% at top left,
      light-dark(
        hsla(from var(--c-purple) h s calc(l + 40) / 0.8),
        hsla(from var(--c-purple) h s l / 0.8)
      ),
      light-dark(
        hsla(from var(--c-g-20) h s l / 0.3),
        hsla(from var(--c-g-10) h s l / 0.6)
      ),
      light-dark(
        hsla(from var(--c-g-20) h s l / 0.3),
        hsla(from var(--c-g-10) h s l / 0.6)
      ),
      light-dark(
        hsla(from var(--c-g-20) h s l / 0.3),
        hsla(from var(--c-g-10) h s l / 0.6)
      )
    );

    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.35);
    border: var(--border-light);
    backdrop-filter: blur(8px);
  }

  .drop-down-menu li a {
    background-color: transparent;
    margin: 0;
    font-size: 1.4rem;
    padding: 0.5rem 0rem 0.25rem 0.5rem;
    color: var(--c-text);

    outline-offset: -1px;

    &:hover,
    &:focus-visible {
      background: linear-gradient(
        to right,
        hsl(from var(--c-purple) h s calc(l + 5)),
        transparent
      );

      color: white;
    }
  }

  .drop-down-title:hover .drop-down-menu,
  .drop-down-title:focus-within .drop-down-menu {
    display: block;
  }

  .drop-down-menu a::before,
  .drop-down-title span::before {
    height: 1.3rem;
    width: 1.3rem;
    transform: translateY(-3px);
  }
}
