toggle-btn {
  display: grid;
  align-items: center;
  width: 56px;
  opacity: 0.8;
}

toggle-btn:hover {
  opacity: 1;
  filter: brightness(2);
}

toggle-btn label {
  position: relative;
  width: 56px;
  height: 28px;
  cursor: pointer;

  &:focus-visible {
    border-radius: 28px;
  }
}

toggle-btn label input {
  position: absolute;
  display: none;
}

toggle-btn theme-track {
  inset: 0;
  position: absolute;
  border-radius: 28px;
  transition: 0.3s;
  background: hsla(from var(--c-canvas-bg) h s l / 0.3);
  border: var(--glass-border-b);
  box-shadow: 1px 1px 2px 0.5px rgba(0, 0, 0, 0.2);
}

toggle-btn theme-thumb {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 20px;
  height: 20px;
  background: var(--c-g-70);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.4s cubic-bezier(0.34, 1.56, 0.64, 1);
  background-size: 14px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' id='icon-moon' viewBox='0 0 24 24' fill='none' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z'/%3E%3C/svg%3E");
}

toggle-btn label.no-transition theme-thumb,
toggle-btn label.no-transition theme-track {
  transition: none;
}

html#light toggle-btn theme-thumb {
  transform: translateX(28px);
  background-size: 14px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='LightGray' stroke-width='2' stroke-linecap='round'%3E%3Ccircle cx='12' cy='12' r='4'/%3E%3Cline x1='12' y1='2' x2='12' y2='5'/%3E%3Cline x1='12' y1='19' x2='12' y2='22'/%3E%3Cline x1='2' y1='12' x2='5' y2='12'/%3E%3Cline x1='19' y1='12' x2='22' y2='12'/%3E%3Cline x1='4.93' y1='4.93' x2='7.05' y2='7.05'/%3E%3Cline x1='16.95' y1='16.95' x2='19.07' y2='19.07'/%3E%3Cline x1='4.93' y1='19.07' x2='7.05' y2='16.95'/%3E%3Cline x1='16.95' y1='7.05' x2='19.07' y2='4.93'/%3E%3C/svg%3E");
}
