main > aside {
  display: flex;
  flex-direction: column;
  gap: 9px;
}

aside footer {
  max-width: 100%;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  width: 100%;
  min-width: fit-content;
  min-height: 20px;
  padding: 15px 0px 15px 0px;
  align-items: center;
  text-align: center;

  border-radius: var(--br-l);
  border: var(--glass-border);
  box-shadow: var(--glass-shadow-b);
}

@media (max-width: 660px) {
  main > aside {
    min-width: 100%;
    gap: 0.4rem;
  }

  main > aside > footer {
    padding: 20px 0px;
  }
}

/* about */
body:has(pspotify-p) {
  main > aside > footer {
    padding: 15px 0;
    position: relative;
    background: var(--grad-foot-green-rad);
  }

  main > aside {
    gap: 7px;
    z-index: var(--z-raised);
  }

  @media (min-width: 661px) {
    aside {
      position: fixed;
      top: 88px;
      left: 9px;
      height: calc(100vh - 97px);
      width: clamp(300px, 35vw, 390px);
    }

    /* Add margin to main content so it's not hidden under the fixed aside */
    main {
      margin-left: calc(clamp(300px, 35vw, 390px) + 9px);
      padding-left: 0.6rem !important;
    }
  }
}

/* home */
body:has(svg-links) {
  main > aside > footer {
    justify-content: space-between;
    background: var(--grad-foot-green-rad);
    gap: 10px;
    max-width: 500px;
  }

  footer div {
    width: 100%;
  }

  aside > img {
    border-radius: var(--br-l);
    border: var(--glass-border-b);
    box-shadow: var(--glass-shadow);
    width: 500px; /* These two are for the smooth scaling. */
    max-width: 100%; /* Idk how they work, but don't delete! */
    user-select: none;
    -moz-user-select: none;
  }

  svg-links {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    scale: 0.8;
    user-select: none;
  }
  svg-links a {
    border-radius: 10px;
    outline-offset: 5px;

    &[href="/rss.xml"] {
      outline-offset: 10px;
    }
  }

  svg-links a[href="/personal/warbler"] img {
    transform: scaleX(-1);
  }

  svg-links a img {
    filter: drop-shadow(2px 2px 4px hsla(0, 0%, 0%, 0.7)) saturate(0)
      brightness(var(--svg-link-brightness));
  }

  svg-links a:hover img,
  svg-links a:focus-visible img {
    filter: drop-shadow(2px 2px 4px hsla(0, 0%, 0%, 0.7)) saturate(1)
      brightness(var(--svg-link-brightness));
  }

  @media (max-width: 660px) {
    aside > img {
      min-width: 100%;
    }
  }
}

html#light {
  aside > img {
    filter: brightness(1.2) contrast(0.8) sepia(0.1) hue-rotate(240deg);
  }

  aside > footer {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 50%;

      background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0.3),
        rgba(255, 255, 255, 0)
      );
      border-radius: 16px 16px 0 0;
      pointer-events: none;
      z-index: 2;
    }
  }
}

footer:has(.status-update:hover) svg-links a[href="/rss.xml"] img {
  filter: saturate(1) brightness(var(--svg-link-brightness)) hue-rotate(160deg) drop-shadow(2px 2px 4px hsla(0, 0%, 0%, 0.7));
}
