h1 {
  margin-block: 2rem;
  font-family: var(--ff-alagard);
}

main * {
  font-family: var(--ff-alagard);

}

@media (max-width: 600px) {
  h1 {
    margin-block: 0rem !important;
    line-height: 1;
  }
}

.staticrypt-password-container {
  margin-top: 2rem;
  width: 100%;
}

#staticrypt-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

label {
  font-size: 2rem;
}
input[type="password"] {
  color: light-dark(black, white);
  line-height: 1;
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin-top: 0.2rem;
  margin-bottom: 1rem;
  background-color: light-dark(var(--c-g-35), var(--c-g-20));
  border: 1px solid
    light-dark(hsla(0, 0%, 0%, 0.4), hsla(0, 0%, 100%, 0.2));
  border-radius: 15px;
  padding: 0.5rem;
  padding-top: 11px;
  padding-bottom: 0.25rem;
  font-size: 1.5rem;
  font-family: inherit;
  border: var(--glass-border);

  &:focus {
    background-color: light-dark(var(--c-g-25), var(--c-g-25));
    outline: none;
  }
}

.staticrypt-decrypt-button {
  width: 100% !important;
  border-radius: 15px !important;
  transform: scale(1) !important;


  &:hover {
  transform: scale(1.02) !important;

  }
}

noscript-span {
  margin-top: -20px;
}

article {
  inline-size: max-content;
}