h1 {
  font-size: clamp(2rem, 5vw, 3.7rem);
}

p:not(section p) {
  padding-left: 0.5rem;
}

article {
  section {
    p {
      display: flex;
      background-color: light-dark(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2));
      padding: 0.5rem 0.75rem 0.5rem 1rem;
      border-radius: 15px;
      border: 1px solid transparent;

      & + p {
        margin-top: 0.5rem;
      }
    }

    p:first-of-type {
      margin-block: 0.5rem 2rem;
    }

    p:not(p:first-of-type) {
      b {
        opacity: 0.8;
      }
      meter {
        opacity: 0.5;
      }
    }
  }

  b {
    white-space: nowrap;
    transform: translateY(1px);
    font-family: "Palatino";
  }

  meter {
    margin-left: 0.75rem;
    width: 100%;
  }
}
