article {
  font-family: "Alagard";
  max-inline-size: 70ch;
  inline-size: max-content;
  max-width: 100%;
  color: light-dark(var(--c-g-65), var(--c-g-60));
}

h1 {
  margin: 3.5rem 0 4rem 0;
  text-align: center;
  line-height: 0.6;
}

p {
  line-height: 1.2;
  & + p {
    margin-top: 0.8rem;
  }
}

form {
  margin: 3rem 0 0 0;
}

label {
  display: block;
  font-size: 2rem;
}

#staticrypt-password {
  display: block;
  width: 90%;
  min-width: 200px;
  max-width: 100%;
  height: 45px;
  margin-block: 1rem 1rem;
  margin-inline: auto;
  padding: 0.6rem 0.5rem 0.3rem 0.5rem;
  touch-action: pan-y;
  border: var(--border-light);
  border-radius: 10px;
  color: var(--c-text);
  font-family: inherit;
  font-size: 1.7rem;
  text-align: center;
  background-color: light-dark(var(--c-g-35), var(--c-g-20));
  box-shadow:
    inset 0 0 5px 5px light-dark(hsla(0, 0%, 0%, 0), hsla(0, 0%, 0%, 0.1)),
    3px 3px 5px 0px light-dark(hsla(0, 0%, 0%, 0.5), hsla(0, 0%, 0%, 0.5));

  &::placeholder {
    color: light-dark(var(--c-g-60), var(--c-g-40));
    font-family: "Special Elite";
  }

  &:focus {
    background-color: light-dark(var(--c-g-25), var(--c-g-25));
    outline: 1px solid light-dark(darkorange, orange);

    &::placeholder {
      color: light-dark(var(--c-g-65), var(--c-g-50));
    }
  }
  &:is(#light &) {
    outline-width: 2px;
  }
}

input[type="submit"] {
  display: block;
  width: 90%;
  height: 45px;
  margin: 0 auto 0 auto;
  padding: 0.8rem 1rem 0.6rem 1rem;
  border: var(--border-light);
  border-radius: 10px;
  cursor: pointer;
  transform: none;
  text-transform: uppercase;

  background:
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='hsl(219, 10%25, 75%25)' stroke-width='1.7' stroke-linecap='round' stroke-linejoin='round' class='lucide lucide-lock-icon lucide-lock'%3E%3Crect width='18' height='11' x='3' y='11' rx='2' ry='2'/%3E%3Cpath d='M7 11V7a5 5 0 0 1 10 0v4'/%3E%3C/svg%3E"),
    radial-gradient(
      circle at center,
      hsl(from var(--c-purple) h s calc(l + 2)),
      hsl(from var(--c-purple) h s calc(l + 2)) 40%,
      hsl(from var(--c-purple) h s calc(l - 5)) 80%
    );
  background-repeat: no-repeat, no-repeat;
  background-position: center, center;
  background-size:
    30px 30px,
    cover;
  box-shadow: 3px 3px 5px 0px
    light-dark(hsla(270, 80%, 45%, 0.7), hsla(0, 0%, 0%, 0.5));

  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease,
    background 0.2s ease;

  &:hover {
    transform: scale(1.025);
    background:
      url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='hsl(219, 20%25, 95%25)' stroke-width='1.7' stroke-linecap='round' stroke-linejoin='round' class='lucide lucide-lock-open-icon lucide-lock-open'%3E%3Crect width='18' height='11' x='3' y='11' rx='2' ry='2'/%3E%3Cpath d='M7 11V7a5 5 0 0 1 9.9-1'/%3E%3C/svg%3E"),
      radial-gradient(
        circle at center,
        hsl(from var(--c-purple) h s calc(l + 10)),
        hsl(from var(--c-purple) h s calc(l + 5)) 50%,
        hsl(from var(--c-purple) h s calc(l - 5)) 80%
      );
    background-repeat: no-repeat, no-repeat;
    background-position: center, center;
    background-size:
      30px 30px,
      cover;
    box-shadow: 5px 5px 10px 0px
      light-dark(hsla(270, 80%, 45%, 0.7), hsla(0, 0%, 0%, 0.5));
  }

  &:active {
    transform: scale(0.98);
  }

  &:focus {
    outline: none;
  }
  &:focus-visible {
    outline: 2.5px solid light-dark(darkorange, orange);
  }

  &:is(#light &) {
    border: 1px solid var(--c-purple);
  }
}
