::selection {
  color: light-dark(black, #6da7ec);
  background-color: light-dark(lightskyblue, #032042);
}

p + p {
  margin-top: 0;
}

p:not(:has(span)) {
  padding-bottom: calc(41px);
}

p {
  background-color: light-dark(hsl(202, 100%, 86%), hsl(230, 30%, 15%));
  border-radius: 10px;
  border: var(--border-light);
  color: light-dark(black, white);
  display: flex;
  flex-direction: column;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.1rem;
  gap: 10px;
  hyphens: auto;
  line-height: 1.3;
  min-height: 100px;
  width: 100%;
  margin: 0 0 1rem 0;
  overflow-wrap: break-word;
  padding: 35px 20px 5px 75px;
  position: relative;
  word-break: break-word;
  box-shadow: 3.5px 3.5px 3px 0px rgba(0, 0, 0, 0.5);

  &:is(#light &) {
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.5);
  }

  &::before {
    content: "Zoltan Forrai";
    background-image: url("/assets/media/photo/pfp-266.png");
    display: inline-flex;
    position: absolute;
    top: 12px;
    left: 10px;
    background-size: 55px 55px;
    background-repeat: no-repeat;
    height: 55px;
    padding-left: 65px;
    font-weight: 900;
    pointer-events: none;
  }

  &::after {
    content: "@gildrom・" attr(datetime);
    background-image: url("/assets/media/img/svg/verified.svg");
    display: inline-flex;
    position: absolute;
    top: 12px;
    left: 185px;
    background-repeat: no-repeat;
    background-size: 18px 18px;
    padding-left: 18px;
    color: light-dark(hsl(200, 8%, 36%), hsl(200, 8%, 60%));
  }
}

#timeline .interactions {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  padding-inline: 5px 60%;
  margin-block: auto 0.5rem;

  *,
  a:any-link,
  a:visited {
    user-select: none;
    color: hsl(0, 0%, 45%);
    width: 18px;
    height: 18px;
    cursor: pointer;
  }

  a:any-link,
  a:visited,
  label {
    &:hover * {
      color: light-dark(hsl(0, 0%, 60%), hsl(0, 0%, 70%));
    }

    &:active * {
      scale: 0.95;
    }
  }

  input {
    display: none;
  }

  label {
    scale: 1.1;

    &:focus-visible {
      outline: none;
    }

    &:has(*:checked) svg {
      fill: hsl(340, 57%, 65%);
      stroke: hsl(340, 88%, 60%);
    }

    &:has(*:checked):hover svg {
      fill: hsl(340, 75%, 75%);
      stroke: hsl(340, 88%, 70%);
    }
  }

  :is(label, a):focus-visible svg {
    stroke: light-dark(darkorange, orange);
    stroke-width: 2.5;
    transform: scale(1.25);
  }
}

@media (min-width: 700px) {
  p {
    margin: 0 auto 1rem auto;
    max-width: min(62ch, 85%);
  }
}

@media (max-width: 550px) {
  p::before {
    content: "Gildrom";
  }

  p::after {
    content: attr(datetime);
    padding-left: 20px;
    left: 147px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: calc(100% - 185px);
    display: block;
  }
}
