#deck.essays-deck a:after {
  mask-image: url("/assets/media/img/svg/icon/icon-notebook-pen.svg");
}

#deck.fiction-deck a:after {
  mask-image: url("/assets/media/img/svg/icon/icon-book-closed.svg");
  transform: translateX(-0.5px);
}

#deck.projects-deck a:after {
  mask-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round' class='lucide lucide-drafting-compass-icon lucide-drafting-compass'><path d='m12.99 6.74 1.93 3.44'/><path d='M19.136 12a10 10 0 0 1-14.271 0'/><path d='m21 21-2.16-3.84'/><path d='m3 21 8.02-14.26'/><circle cx='12' cy='5' r='2'/></svg>");
}

#deck a {
  &[data-tags~="play"]:after {
    mask-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round' class='lucide lucide-gamepad2-icon lucide-gamepad-2'><line x1='6' x2='10' y1='11' y2='11'/><line x1='8' x2='8' y1='9' y2='13'/><line x1='15' x2='15.01' y1='12' y2='12'/><line x1='18' x2='18.01' y1='10' y2='10'/><path d='M17.32 5H6.68a4 4 0 0 0-3.978 3.59c-.006.052-.01.101-.017.152C2.604 9.416 2 14.456 2 16a3 3 0 0 0 3 3c1 0 1.5-.5 2-1l1.414-1.414A2 2 0 0 1 9.828 16h4.344a2 2 0 0 1 1.414.586L17 18c.5.5 1 1 2 1a3 3 0 0 0 3-3c0-1.545-.604-6.584-.685-7.258-.007-.05-.011-.1-.017-.151A4 4 0 0 0 17.32 5z'/></svg>");
  }

  &[data-tags~="poetry"]:after {
    transform: translateX(0px);
    mask-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round' class='lucide lucide-feather-icon lucide-feather'><path d='M14.086 18.412A2 2 0 0112.67 19H5v-7.672a2 2 0 01.586-1.414L11.75 3.75a6 6 0 118.49 8.49z'/><path d='M16 8 2 22'/><path d='M17.488 15H9'/></svg>");
  }

  &[data-tags~="drama"]:after {
    transform: translateX(0px);
    mask-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round' class='lucide lucide-drama-icon lucide-drama'><path d='M10 11h.01'/><path d='M14 6h.01'/><path d='M18 6h.01'/><path d='M6.5 13.1h.01'/><path d='M22 5c0 9-4 12-6 12s-6-3-6-12c0-2 2-3 6-3s6 1 6 3'/><path d='M17.4 9.9c-.8.8-2 .8-2.8 0'/><path d='M10.1 7.1C9 7.2 7.7 7.7 6 8.6c-3.5 2-4.7 3.9-3.7 5.6 4.5 7.8 9.5 8.4 11.2 7.4.9-.5 1.9-2.1 1.9-4.7'/><path d='M9.1 16.5c.3-1.1 1.4-1.7 2.4-1.4'/></svg>");
  }
}

/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */

#deck {
  #maze {
    background-image: url("/assets/media/img/cover/maze-375.jpg");
  }
}
