form {
  margin: 1.2rem auto 1rem auto;
  padding-inline: 1.2rem;
  width: 100%;

  search {
    position: relative;
  }
}

#search {
  font-family: "Departure Mono";
  line-height: 1.5;
  width: 100%;
  border: var(--border-light);
  border-radius: 10px;
  font-size: 1rem;
  padding: 2.5px;
  padding-left: 2.5rem;
  outline: none;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);


  background-image: url("data:image/svg+xml;utf8,\<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='%23808080' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'>\<circle cx='11' cy='11' r='8'/>\<line x1='21' y1='21' x2='16.65' y2='16.65'/>\</svg>");
  background-repeat: no-repeat;
  background-position: 12px center;
  background-size: 16px 16px;

  background-color: light-dark(var(--c-g-35), var(--c-g-20));

  &:focus {
    background-color: light-dark(var(--c-g-25), var(--c-g-25));
    outline: 1px solid light-dark(darkorange, orange);

    &::placeholder {
      color: light-dark(var(--c-g-60), var(--c-g-50));
    }
  }
  &:is(#light &) {
    outline-width: 2px;
  }
}

input[type="search"]:placeholder-shown ~ [type="reset"] {
  display: none;
}

input[type="search"]:not(:placeholder-shown) ~ [type="reset"] {
  display: inline;
}

[type="reset"] {
  position: absolute;
  right: 0.5em;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 1.2rem;
  display: block;
  color: orangered;
  font-family: "Departure Mono";

  &:hover {
    color: red;
  }
}
