@font-face {
    font-family: 'JohnDoe';
    src: url('JohnDoe.woff2') format('woff2'),
        url('JohnDoe.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

