@font-face {
    font-family: 'Special Elite';
    src: url('SpecialElite-Regular.woff2') format('woff2'),
        url('SpecialElite-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

