/* RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  overflow-wrap: break-word;
  hyphens: auto;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
img,
picture,
video,
canvas {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
  line-height: var(--lh-s);
  overflow-wrap: break-word;
}

button {
  appearance: none;
  -webkit-appearance: none;
  margin: 0;
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background: none;
  outline: none;
  box-shadow: none;
}

hr {
  border: none;
  border-top: 1px solid light-dark(hsla(0, 0%, 0%, 0.6), hsla(0, 0%, 100%, 0.6));
  height: 1px;
}

*:focus-visible {
  outline: 2px solid orange !important;
}

/* BASE STYLES */
:root {
  scrollbar-width: thin;
}
::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: light-dark(rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.3));
  border-radius: 4px;
  &:hover {
    background: light-dark(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5));
  }
}

::selection {
  background: light-dark(
    hsl(from var(--c-green) h s calc(l + 50)),
    hsl(from var(--c-green) h s calc(l - 5))
  );
  color: light-dark(
    hsl(from var(--c-green) h s calc(l - 5)),
    hsl(from #02f900 h s calc(l + 0))
  );
}

html {
  font-size: var(--f-size-def);
  background-color: var(--c-canvas-bg);
  color: var(--c-text);
  scrollbar-width: thin;
  scrollbar-color: light-dark(rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.3))
    transparent;
  scroll-padding-top: 100px;
  scrollbar-gutter: auto;
  caret-color: orange;
}

body {
  font-family: var(--ff-lit);
  margin-top: var(--body-margin-top);
  min-height: calc(100vh - var(--body-margin-top));
  line-height: var(--lh-m);
}

main:not(:has(main-box)) {
  margin: 9.2px;
  min-height: calc(100vh - var(--body-margin-top) - 10px);
  background-color: var(--c-page);
  box-shadow: var(--glass-shadow);
  border: var(--glass-border);
  border-radius: 20px;
}

main:has(main-box) {
  min-height: calc(100vh - var(--body-margin-top));
  padding: 0 9px 9px 9px;
  display: flex;
  gap: 9px;
}

main-box {
  display: block;
  width: 100%;
  border-radius: var(--br-l);
  border: var(--glass-border);
  min-height: 20px;
  min-width: 20px;
}

p {
  overflow-wrap: break-word;
  hyphens: auto;
}

p a,
span a,
main:not(:has(deck-section, thanks-background)) a {
  color: var(--c-text-a);
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
  border-radius: 5px;
  outline-offset: 2px;

  &::selection,
  *::selection {
    color: var(--c-text-a);
  }

  &:hover,
  &:hover::selection,
  &:hover *::selection {
    color: var(--c-text-a-hov);
  }

  &:active,
  &:active::selection,
  &:active *::selection {
    color: var(--c-text-a-act);
  }

  &:visited,
  &:visited::selection,
  &:visited *::selection {
    color: var(--c-text-a-v);
  }

  &:visited:hover,
  &:visited:hover::selection &:visited:hover *::selection {
    color: var(--c-text-a-v-hov);
  }

  &:visited:active,
  &:visited:active::selection &:visited:active *::selection {
    color: var(--c-text-a-v-act);
  }
}

#light :is(p a, span a, main:not(:has(deck-section, thanks-background)) a) {
  text-decoration-thickness: 1.5px;
}

a:not(
    [href^="https://www.gildrom.com/"],
    [href^="/"],
    [href^="#"],
    header a,
    [href=""],
    deck-section a,
    :has(img)
  )::after {
  content: "";
  display: inline-block;
  width: 0.75em;
  height: 0.75em;
  margin-left: 0.2em;
  vertical-align: text-bottom;
  margin-bottom: 2px;
  font-size: 1.4rem;
  background-color: var(--c-text);
  background-size: contain;
  mask: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'><path d='M21 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h6'/><path d='m21 3-9 9'/><path d='M15 3h6v6'/></svg>")
    no-repeat center / contain;
}

a:has(title-span)::after {
  display: none !important;
}

html#light {
  main a {
    font-weight: bold;
  }
}

@media (max-width: 660px) {
  body:not(:has(main-box)) {
    min-height: calc(100vh - var(--body-margin-top-mobile) - 10px) !important;
    margin-top: calc(var(--body-margin-top-mobile) + 5px);
  }

  body:has(main-box) {
    min-height: calc(100vh - var(--body-margin-top-mobile));
    margin-top: var(--body-margin-top-mobile);
  }

  main:not(:has(main-box)) {
    min-height: calc(100vh - var(--body-margin-top-mobile) - 10px) !important;
    margin: 5px;
    margin-top: calc(var(--body-margin-top-mobile));
  }

  main:has(main-box) {
    flex-direction: column;
    padding: 5px;
    gap: 0.4rem;
    min-height: 100%;
    min-height: calc(100vh - var(--body-margin-top-mobile));
  }

  main-box {
    flex: 1;
  }

  main a {
    font-weight: bold;
  }
}

/* Fixes */
@media (min-width: 600px) {
  /* MacOS text display. */
  @supports (-webkit-font-smoothing: antialiased) {
    header a span,
    form label svg {
      transform: translateY(4px);
    }

    .btn span,
    header nav li b,
    header nav a {
      transform: translateY(2px);
    }
  }
}
