article,
faq-container {
  font-size: var(--f-size-m);
  box-sizing: content-box; /* To make the text itself 70ch */
  max-inline-size: 70ch;
  margin-inline: auto;
  padding: 2rem min(22px, 4%);
  display: block;
}

footer a.status-update {
  display: block;
  text-decoration: none;
  font-size: var(--f-size-s);
  font-family: var(--ff-jb-mono);
  margin-top: 15px;
  line-height: 1.4;
  font-weight: normal !important;
  padding: 0 20px;
  width: fit-content;
  margin-inline: auto;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  overflow: hidden;
  color: light-dark(
    hsla(from var(--c-text) h s calc(l + 20)),
    hsla(from var(--c-text) h s calc(l - 20))
  ) !important;
  &::before {
    content: "💭 No updates for now.";
  }
  &::after {
    margin-bottom: 4px !important;
    background-color: light-dark(
      hsla(from var(--c-text) h s calc(l + 20)),
      hsla(from var(--c-text) h s calc(l - 20))
    ) !important;
  }

  &:hover {
    color: light-dark(
      hsla(from var(--c-text) h s calc(l + 5)),
      hsla(from var(--c-text) h s calc(l - 5))
    ) !important;

    &::after {
      background-color: light-dark(
        hsla(from var(--c-text) h s calc(l + 5)),
        hsla(from var(--c-text) h s calc(l - 5))
      ) !important;
    }
  }
}

:is([data-page="home"]) a.status-update[data-moji]:not([data-moji=""])::before {
  content: attr(data-moji) " ";
}

emo-icon,
emo-icon::selection {
  color: var(--c-highlight);
  font-family: var(--ff-jb-mono);
  font-size: 1rem;
  font-weight: bold;
}
/* HEADERS */

h1 {
  --base-fs: var(--f-size-h1);
}
h2 {
  --base-fs: var(--f-size-h2);
}
h3 {
  --base-fs: var(--f-size-h3);
}
h4 {
  --base-fs: var(--f-size-h4);
}
h5 {
  --base-fs: var(--f-size-h5);
}
h6 {
  --base-fs: var(--f-size-h6);
}

h1 {
  font-size: var(--base-fs);
  margin-block: var(--mp-s);
  text-align: center;
}

h2 {
  font-size: var(--base-fs);
  margin-block: 1.2em calc(var(--mp-s) / 2);
}
h3 {
  font-size: var(--base-fs);
  margin-block: var(--mp-l) var(--mp-s);
}

/* PARAGRAPH */

:is(h1, h2, h3, h4, h5, h6) + p {
  margin-top: 0;
}

:is(p, hr) + :is(p, ol, ul) {
  margin-top: var(--mp-m);
}

/* LISTS */

ul li::marker {
  content: "◈ ";
  color: var(--c-highlight);
}
ol li::marker {
  font-family: var(--ff-type);
  font-size: 1.3rem;
  color: var(--c-highlight);
}

faq-container {
  padding-top: 0;
}

faq-container summary {
  font-family: var(--ff-type);
  font-size: 1.3rem;
  font-weight: lighter;
}

faq-container details {
  font-family: "Courier New", Courier, monospace;
  font-size: 1.3rem;
  background-color: light-dark(var(--c-g-40), var(--c-g-15));
  border-radius: 10px;
  border: var(--glass-border);
}

details {
  border-left: 2px solid var(--c-highlight);
  padding-left: 0;
  margin-top: 20px;
}

summary {
  cursor: pointer;
  padding-left: 20px;
  font-weight: bold;

  &::marker {
    color: var(--c-highlight);
  }
}

faq-container details[open] summary {
  border-bottom: var(--glass-border);
}

details p {
  padding: 0px 10px 0px 20px;
  line-height: 1.5;
}

faq-container details p {
  padding: 5px 10px 5px 20px;
}


details:is(:not(faq-container details)) p:first-of-type {
  margin-top: 15px;
}
details:is(:not(faq-container details)) p:last-of-type {
  padding-bottom: 10px;
}

details h3 {
  padding: 0px 10px 5px 20px;
}

/* inline */

em {
  font-style: oblique 15deg;
}

/* Classes */

body:has(svg-links) h1 {
  color: light-dark(var(--c-purple-d), var(--c-g-65));
  text-align: left;
}

body.patronage h1 {
  font-size: clamp(1.9rem, 6vw, 3.5rem);
}

article.not-found h1 {
  color: light-dark(red, orangered);
  font-size: calc(var(--base-fs) - 0.7rem);
  font-family: var(--ff-mono);
}

/* --------------------------------- */

dev-notice {
  display: inline-block;
  text-align: center;
  min-height: 30px;
  width: 100%;
  position: relative;
  padding: 0px 20px;
  background-image: repeating-linear-gradient(
    -45deg,
    hsla(52, 100%, 40%, 1) 0 20px,
    hsla(0, 0%, 7%, 1) 20px 40px
  );
}

main > dev-notice {
  border-radius: 20px 20px 0 0;
}

dev-notice span {
  background-color: hsla(52, 100%, 40%, 1);
  user-select: none;
  padding-inline: 4px;
  border-radius: 5px;
  color: black;
  font-family: Arial, Helvetica, sans-serif;

  text-transform: uppercase;
  font-weight: bold;
  -webkit-text-stroke: 1px black;
  font-size: 1.5rem;
}

.typewriter {
  font-family: var(--ff-type);
  font-size: 1.4rem;
}

.departure {
  font-family: var(--ff-mono);
  font-size: 1.24rem;
}

.jb-mono {
  font-family: var(--ff-jb-mono);
  font-size: 1.3rem;
}

.alagard {
  font-family: var(--ff-alagard);
  font-size: 1.5rem;
}

.cochin {
  font-family: var(--ff-lit);
}

#cv {
  display: block;
  width: 100%;
  font-size: var(--f-size-m);

  svg {
    transform: translateY(5px);
    color: var(--c-text) !important;
    width: 1em;
    height: 1em;
  }
}
